In [1]:
from bs4 import BeautifulSoup
from selenium  import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import requests


warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 400)

###### Collect Player Statistics for: Matches Played, Total Points, Successul Raids, Raid Points, Average Raid Points, Do or Die Raids, Super Raids, Super 10s

###### Launch Web Browser (Chrome) using Selenium and launch the URL for player statistics

In [2]:
driver = webdriver.Chrome()
driver.get('https://www.prokabaddi.com/stats/0-102-total-points-statistics')
time.sleep(10)

In [337]:
#Select "All Seasons" data
season = driver.find_element_by_id("season_dropdown")
season.send_keys("All Seasons")
time.sleep(5)

###### Generate Total Points Data for each player and load to dataframe

In [338]:
element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_raid_points=[]
soup = BeautifulSoup(driver.page_source)
player_raid_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_raid_points = list()
for i in range(0, len(player_raid_points)):
    x_player_raid_points.append(player_raid_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_total_points = pd.DataFrame()
all_seasons_player_total_points['Player Rank'] = x_player_rank
all_seasons_player_total_points['Player Name'] = x_player_name
all_seasons_player_total_points['Latest Team'] = x_player_latest_team
all_seasons_player_total_points['Matches Played'] = x_player_matches_played
all_seasons_player_total_points['Total Points'] = x_player_raid_points

all_seasons_player_total_points['Player Rank'] = all_seasons_player_total_points['Player Rank'].astype('float64')
all_seasons_player_total_points['Player Rank'] = all_seasons_player_total_points['Player Rank'].astype('int64')
all_seasons_player_total_points['Matches Played'] = all_seasons_player_total_points['Matches Played'].astype('int64')
all_seasons_player_total_points['Total Points'] = all_seasons_player_total_points['Total Points'].astype('int64')

In [339]:
all_seasons_player_total_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Total Points
0,1,Pardeep Narwal,Patna Pirates,101,1055
1,2,Rahul Chaudhari,Tamil Thalaivas,117,991
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,905
3,4,Ajay Thakur,Tamil Thalaivas,115,811
4,5,Rohit Kumar,Bengaluru Bulls,88,689

In [340]:
all_seasons_player_total_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 5 columns):
Player Rank       389 non-null int64
Player Name       389 non-null object
Latest Team       389 non-null object
Matches Played    389 non-null int64
Total Points      389 non-null int64
dtypes: int64(3), object(2)
memory usage: 15.3+ KB

In [341]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_raid_points, player_raid_points

In [342]:
all_seasons_player_total_points['Player Name'].duplicated().value_counts()

False    372
True      17
Name: Player Name, dtype: int64

In [343]:
all_seasons_player_total_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    388
True       1
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [344]:
all_seasons_player_total_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [345]:
all_seasons_player_total_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    388
dtype: int64

In [346]:
all_seasons_player_total_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 388
Data columns (total 5 columns):
Player Rank       388 non-null int64
Player Name       388 non-null object
Latest Team       388 non-null object
Matches Played    388 non-null int64
Total Points      388 non-null int64
dtypes: int64(3), object(2)
memory usage: 18.2+ KB

###### Generate Sucessful Raids Data for each player and load to dataframe

In [347]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Successful Raids")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_succeesful_raids=[]
soup = BeautifulSoup(driver.page_source)
player_succeesful_raids = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_succeesful_raids = list()
for i in range(0, len(player_succeesful_raids)):
    x_player_succeesful_raids.append(player_succeesful_raids[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_successful_raids = pd.DataFrame()
all_seasons_player_successful_raids['Player Rank'] = x_player_rank
all_seasons_player_successful_raids['Player Name'] = x_player_name
all_seasons_player_successful_raids['Latest Team'] = x_player_latest_team
all_seasons_player_successful_raids['Matches Played'] = x_player_matches_played
all_seasons_player_successful_raids['Successful Raids'] = x_player_succeesful_raids

all_seasons_player_successful_raids['Player Rank'] = all_seasons_player_successful_raids['Player Rank'].astype('float64')
all_seasons_player_successful_raids['Player Rank'] = all_seasons_player_successful_raids['Player Rank'].astype('int64')
all_seasons_player_successful_raids['Matches Played'] = all_seasons_player_successful_raids['Matches Played'].astype('int64')
all_seasons_player_successful_raids['Successful Raids'] = all_seasons_player_successful_raids['Successful Raids'].astype('int64')

In [348]:
all_seasons_player_successful_raids.head()

,Player Rank,Player Name,Latest Team,Matches Played,Successful Raids
0,1,Pardeep Narwal,Patna Pirates,101,798
1,2,Rahul Chaudhari,Tamil Thalaivas,117,766
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,670
3,4,Ajay Thakur,Tamil Thalaivas,115,640
4,5,Rohit Kumar,Bengaluru Bulls,88,535

In [349]:
all_seasons_player_successful_raids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 5 columns):
Player Rank         270 non-null int64
Player Name         270 non-null object
Latest Team         270 non-null object
Matches Played      270 non-null int64
Successful Raids    270 non-null int64
dtypes: int64(3), object(2)
memory usage: 10.6+ KB

In [350]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_succeesful_raids, player_succeesful_raids

In [351]:
all_seasons_player_successful_raids['Player Name'].duplicated().value_counts()

False    263
True       7
Name: Player Name, dtype: int64

In [352]:
all_seasons_player_successful_raids[['Player Name', 'Matches Played']].duplicated().value_counts()

False    269
True       1
dtype: int64

In [353]:
all_seasons_player_successful_raids[['Player Name', 'Latest Team']].duplicated().value_counts()

False    268
True       2
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [354]:
all_seasons_player_successful_raids.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [355]:
all_seasons_player_successful_raids[['Player Name', 'Matches Played']].duplicated().value_counts()

False    269
dtype: int64

In [356]:
all_seasons_player_successful_raids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 269 entries, 0 to 269
Data columns (total 5 columns):
Player Rank         269 non-null int64
Player Name         269 non-null object
Latest Team         269 non-null object
Matches Played      269 non-null int64
Successful Raids    269 non-null int64
dtypes: int64(3), object(2)
memory usage: 12.6+ KB

###### Generate Raid Points Data for each player and load to dataframe

In [357]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Raid Points")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_raid_points=[]
soup = BeautifulSoup(driver.page_source)
player_raid_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_raid_points = list()
for i in range(0, len(player_raid_points)):
    x_player_raid_points.append(player_raid_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_raid_points = pd.DataFrame()
all_seasons_player_raid_points['Player Rank'] = x_player_rank
all_seasons_player_raid_points['Player Name'] = x_player_name
all_seasons_player_raid_points['Latest Team'] = x_player_latest_team
all_seasons_player_raid_points['Matches Played'] = x_player_matches_played
all_seasons_player_raid_points['Raid Points'] = x_player_raid_points

all_seasons_player_raid_points['Player Rank'] = all_seasons_player_raid_points['Player Rank'].astype('float64')
all_seasons_player_raid_points['Player Rank'] = all_seasons_player_raid_points['Player Rank'].astype('int64')
all_seasons_player_raid_points['Matches Played'] = all_seasons_player_raid_points['Matches Played'].astype('int64')
all_seasons_player_raid_points['Raid Points'] = all_seasons_player_raid_points['Raid Points'].astype('int64')

In [358]:
all_seasons_player_raid_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Raid Points
0,1,Pardeep Narwal,Patna Pirates,101,1048
1,2,Rahul Chaudhari,Tamil Thalaivas,117,933
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,820
3,4,Ajay Thakur,Tamil Thalaivas,115,790
4,5,Maninder Singh,Bengal Warriors,75,664

In [359]:
all_seasons_player_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 5 columns):
Player Rank       285 non-null int64
Player Name       285 non-null object
Latest Team       285 non-null object
Matches Played    285 non-null int64
Raid Points       285 non-null int64
dtypes: int64(3), object(2)
memory usage: 11.2+ KB

In [360]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_raid_points, player_raid_points

In [361]:
all_seasons_player_raid_points['Player Name'].duplicated().value_counts()

False    276
True       9
Name: Player Name, dtype: int64

In [362]:
all_seasons_player_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    284
True       1
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [363]:
all_seasons_player_raid_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [364]:
all_seasons_player_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    284
dtype: int64

In [365]:
all_seasons_player_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 284
Data columns (total 5 columns):
Player Rank       284 non-null int64
Player Name       284 non-null object
Latest Team       284 non-null object
Matches Played    284 non-null int64
Raid Points       284 non-null int64
dtypes: int64(3), object(2)
memory usage: 13.3+ KB

In [366]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Avg raid points")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_average_raid_points=[]
soup = BeautifulSoup(driver.page_source)
player_average_raid_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_average_raid_points = list()
for i in range(0, len(player_average_raid_points)):
    x_player_average_raid_points.append(player_average_raid_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_average_raid_points = pd.DataFrame()
all_seasons_player_average_raid_points['Player Rank'] = x_player_rank
all_seasons_player_average_raid_points['Player Name'] = x_player_name
all_seasons_player_average_raid_points['Latest Team'] = x_player_latest_team
all_seasons_player_average_raid_points['Matches Played'] = x_player_matches_played
all_seasons_player_average_raid_points['Average Raid Points'] = x_player_average_raid_points

all_seasons_player_average_raid_points['Player Rank'] = all_seasons_player_average_raid_points['Player Rank'].astype('float64')
all_seasons_player_average_raid_points['Player Rank'] = all_seasons_player_average_raid_points['Player Rank'].astype('int64')
all_seasons_player_average_raid_points['Matches Played'] = all_seasons_player_average_raid_points['Matches Played'].astype('int64')
all_seasons_player_average_raid_points['Average Raid Points'] = all_seasons_player_average_raid_points['Average Raid Points'].astype('float64')

In [367]:
all_seasons_player_average_raid_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Average Raid Points
0,1,Pardeep Narwal,Patna Pirates,101,10.48
1,2,Naveen Kumar,Delhi Dabangs,38,9.71
2,3,Siddharth Sirish Desai,Telugu Titans,36,9.53
3,4,Maninder Singh,Bengal Warriors,75,8.85
4,5,Rahul Chaudhari,Tamil Thalaivas,117,7.97

In [368]:
all_seasons_player_average_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 5 columns):
Player Rank            255 non-null int64
Player Name            255 non-null object
Latest Team            255 non-null object
Matches Played         255 non-null int64
Average Raid Points    255 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 10.0+ KB

In [369]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_average_raid_points, player_average_raid_points

In [370]:
all_seasons_player_average_raid_points['Player Name'].duplicated().value_counts()

False    249
True       6
Name: Player Name, dtype: int64

In [371]:
all_seasons_player_average_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    254
True       1
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [372]:
all_seasons_player_average_raid_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [373]:
all_seasons_player_average_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    254
dtype: int64

In [374]:
all_seasons_player_average_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254 entries, 0 to 254
Data columns (total 5 columns):
Player Rank            254 non-null int64
Player Name            254 non-null object
Latest Team            254 non-null object
Matches Played         254 non-null int64
Average Raid Points    254 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 11.9+ KB

###### Generate Do or Die Raid Points Data for each player and load to dataframe

In [375]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Do or Die raid points")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_do_or_die_raid_points=[]
soup = BeautifulSoup(driver.page_source)
player_do_or_die_raid_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_do_or_die_raid_points = list()
for i in range(0, len(player_do_or_die_raid_points)):
    x_player_do_or_die_raid_points.append(player_do_or_die_raid_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_do_or_die_raid_points = pd.DataFrame()
all_seasons_player_do_or_die_raid_points['Player Rank'] = x_player_rank
all_seasons_player_do_or_die_raid_points['Player Name'] = x_player_name
all_seasons_player_do_or_die_raid_points['Latest Team'] = x_player_latest_team
all_seasons_player_do_or_die_raid_points['Matches Played'] = x_player_matches_played
all_seasons_player_do_or_die_raid_points['Do or Die Raid Points'] = x_player_do_or_die_raid_points

all_seasons_player_do_or_die_raid_points['Player Rank'] = all_seasons_player_do_or_die_raid_points['Player Rank'].astype('float64')
all_seasons_player_do_or_die_raid_points['Player Rank'] = all_seasons_player_do_or_die_raid_points['Player Rank'].astype('int64')
all_seasons_player_do_or_die_raid_points['Matches Played'] = all_seasons_player_do_or_die_raid_points['Matches Played'].astype('int64')
all_seasons_player_do_or_die_raid_points['Do or Die Raid Points'] = all_seasons_player_do_or_die_raid_points['Do or Die Raid Points'].astype('int64')

In [376]:
all_seasons_player_do_or_die_raid_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Do or Die Raid Points
0,1,Ajay Thakur,Tamil Thalaivas,115,163
1,2,Deepak Niwas Hooda,Jaipur Pink Panthers,119,161
2,2,Rahul Chaudhari,Tamil Thalaivas,117,161
3,4,Pardeep Narwal,Patna Pirates,101,133
4,5,Rishank Devadiga,UP Yoddhas,115,127

In [377]:
all_seasons_player_do_or_die_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
Player Rank              200 non-null int64
Player Name              200 non-null object
Latest Team              200 non-null object
Matches Played           200 non-null int64
Do or Die Raid Points    200 non-null int64
dtypes: int64(3), object(2)
memory usage: 7.9+ KB

In [378]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_do_or_die_raid_points, player_do_or_die_raid_points

In [379]:
all_seasons_player_do_or_die_raid_points['Player Name'].duplicated().value_counts()

False    195
True       5
Name: Player Name, dtype: int64

In [380]:
all_seasons_player_do_or_die_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    199
True       1
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [381]:
all_seasons_player_do_or_die_raid_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [382]:
all_seasons_player_do_or_die_raid_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    199
dtype: int64

In [383]:
all_seasons_player_do_or_die_raid_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199 entries, 0 to 199
Data columns (total 5 columns):
Player Rank              199 non-null int64
Player Name              199 non-null object
Latest Team              199 non-null object
Matches Played           199 non-null int64
Do or Die Raid Points    199 non-null int64
dtypes: int64(3), object(2)
memory usage: 9.3+ KB

###### Generate Total Super Raids Data for each player and load to dataframe

In [384]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Super raids")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_super_raids=[]
soup = BeautifulSoup(driver.page_source)
player_super_raids = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_super_raids = list()
for i in range(0, len(player_super_raids)):
    x_player_super_raids.append(player_super_raids[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_super_raids = pd.DataFrame()
all_seasons_player_super_raids['Player Rank'] = x_player_rank
all_seasons_player_super_raids['Player Name'] = x_player_name
all_seasons_player_super_raids['Latest Team'] = x_player_latest_team
all_seasons_player_super_raids['Matches Played'] = x_player_matches_played
all_seasons_player_super_raids['Super Raids'] = x_player_super_raids

all_seasons_player_super_raids['Player Rank'] = all_seasons_player_super_raids['Player Rank'].astype('float64')
all_seasons_player_super_raids['Player Rank'] = all_seasons_player_super_raids['Player Rank'].astype('int64')
all_seasons_player_super_raids['Matches Played'] = all_seasons_player_super_raids['Matches Played'].astype('int64')
all_seasons_player_super_raids['Super Raids'] = all_seasons_player_super_raids['Super Raids'].astype('int64')

In [385]:
all_seasons_player_super_raids.head()

   Player Rank       Player Name      Latest Team  Matches Played  Super Raids
0            1    Pardeep Narwal    Patna Pirates             101           46
1            2  Rishank Devadiga       UP Yoddhas             115           25
2            3   Rahul Chaudhari  Tamil Thalaivas             117           24
3            4       Ajay Thakur  Tamil Thalaivas             115           23
4            4   Kashiling Adake  Bengaluru Bulls              92           23

In [386]:
all_seasons_player_super_raids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 5 columns):
Player Rank       113 non-null int64
Player Name       113 non-null object
Latest Team       113 non-null object
Matches Played    113 non-null int64
Super Raids       113 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.5+ KB

In [387]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_super_raids, player_super_raids

In [388]:
all_seasons_player_super_raids['Player Name'].duplicated().value_counts()

False    111
True       2
Name: Player Name, dtype: int64

In [389]:
all_seasons_player_super_raids[['Player Name', 'Matches Played']].duplicated().value_counts()

False    112
True       1
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [390]:
all_seasons_player_super_raids.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [391]:
all_seasons_player_super_raids[['Player Name', 'Matches Played']].duplicated().value_counts()

False    112
dtype: int64

In [392]:
all_seasons_player_super_raids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 5 columns):
Player Rank       112 non-null int64
Player Name       112 non-null object
Latest Team       112 non-null object
Matches Played    112 non-null int64
Super Raids       112 non-null int64
dtypes: int64(3), object(2)
memory usage: 5.2+ KB

###### Generate Total Super 10s Data for each player and load to dataframe

In [393]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Super 10s")
time.sleep(10)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_super_10s=[]
soup = BeautifulSoup(driver.page_source)
player_super_10s = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_super_10s = list()
for i in range(0, len(player_super_10s)):
    x_player_super_10s.append(player_super_10s[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_super_10s = pd.DataFrame()
all_seasons_player_super_10s['Player Rank'] = x_player_rank
all_seasons_player_super_10s['Player Name'] = x_player_name
all_seasons_player_super_10s['Latest Team'] = x_player_latest_team
all_seasons_player_super_10s['Matches Played'] = x_player_matches_played
all_seasons_player_super_10s['Super 10s'] = x_player_super_10s

all_seasons_player_super_10s['Player Rank'] = all_seasons_player_super_10s['Player Rank'].astype('float64')
all_seasons_player_super_10s['Player Rank'] = all_seasons_player_super_10s['Player Rank'].astype('int64')
all_seasons_player_super_10s['Matches Played'] = all_seasons_player_super_10s['Matches Played'].astype('int64')
all_seasons_player_super_10s['Super 10s'] = all_seasons_player_super_10s['Super 10s'].astype('int64')

In [394]:
all_seasons_player_super_10s.head()

,Player Rank,Player Name,Latest Team,Matches Played,Super 10s
0,1,Pardeep Narwal,Patna Pirates,101,54
1,2,Rahul Chaudhari,Tamil Thalaivas,117,40
2,3,Ajay Thakur,Tamil Thalaivas,115,29
3,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,29
4,3,Maninder Singh,Bengal Warriors,75,29

In [395]:
all_seasons_player_super_10s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 5 columns):
Player Rank       69 non-null int64
Player Name       69 non-null object
Latest Team       69 non-null object
Matches Played    69 non-null int64
Super 10s         69 non-null int64
dtypes: int64(3), object(2)
memory usage: 2.8+ KB

In [396]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_super_10s, player_super_10s

In [397]:
all_seasons_player_super_10s.duplicated(['Player Name']).value_counts()

False    69
dtype: int64

In [398]:
all_seasons_player_super_10s[['Player Name', 'Matches Played']].duplicated().value_counts()

False    69
dtype: int64

###### Unique combination is Player Name, Matches Played

###### Drop last duplicate row

In [399]:
all_seasons_player_super_10s.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [400]:
all_seasons_player_super_10s[['Player Name', 'Matches Played']].duplicated().value_counts()

False    69
dtype: int64

###### Generate Successful Tackles Data for each player and load to dataframe

In [401]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Successful tackles")
time.sleep(10)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_tackles=[]
soup = BeautifulSoup(driver.page_source)
player_tackles = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_tackles = list()
for i in range(0, len(player_tackles)):
    x_player_tackles.append(player_tackles[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_successful_tackles = pd.DataFrame()
all_seasons_player_successful_tackles['Player Rank'] = x_player_rank
all_seasons_player_successful_tackles['Player Name'] = x_player_name
all_seasons_player_successful_tackles['Latest Team'] = x_player_latest_team
all_seasons_player_successful_tackles['Matches Played'] = x_player_matches_played
all_seasons_player_successful_tackles['Successful Tackles'] = x_player_tackles

all_seasons_player_successful_tackles['Player Rank'] = all_seasons_player_successful_tackles['Player Rank'].astype('float64')
all_seasons_player_successful_tackles['Player Rank'] = all_seasons_player_successful_tackles['Player Rank'].astype('int64')
all_seasons_player_successful_tackles['Matches Played'] = all_seasons_player_successful_tackles['Matches Played'].astype('int64')
all_seasons_player_successful_tackles['Successful Tackles'] = all_seasons_player_successful_tackles['Successful Tackles'].astype('int64')

In [402]:
all_seasons_player_successful_tackles.head()

,Player Rank,Player Name,Latest Team,Matches Played,Successful Tackles
0,1,Manjeet Chhillar,Tamil Thalaivas,107,324
1,2,Ravinder Pahal,Delhi Dabangs,105,288
2,3,Fazel Atrachali,U Mumba,95,270
3,4,Sandeep Narwal,U Mumba,117,265
4,5,Mohit Chhillar,Tamil Thalaivas,107,253

In [403]:
all_seasons_player_successful_tackles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 5 columns):
Player Rank           328 non-null int64
Player Name           328 non-null object
Latest Team           328 non-null object
Matches Played        328 non-null int64
Successful Tackles    328 non-null int64
dtypes: int64(3), object(2)
memory usage: 12.9+ KB

In [404]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_tackles, player_tackles

In [405]:
all_seasons_player_successful_tackles['Player Name'].duplicated().value_counts()

False    312
True      16
Name: Player Name, dtype: int64

In [406]:
all_seasons_player_successful_tackles[['Player Name', 'Matches Played']].duplicated().value_counts()

False    327
True       1
dtype: int64

###### Drop last duplicate row

In [407]:
all_seasons_player_successful_tackles.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [408]:
all_seasons_player_successful_tackles[['Player Name', 'Matches Played']].duplicated().value_counts()

False    327
dtype: int64

In [409]:
all_seasons_player_successful_tackles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 327
Data columns (total 5 columns):
Player Rank           327 non-null int64
Player Name           327 non-null object
Latest Team           327 non-null object
Matches Played        327 non-null int64
Successful Tackles    327 non-null int64
dtypes: int64(3), object(2)
memory usage: 15.3+ KB

###### Generate Tackle Points Data for each player and load to dataframe

In [410]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Tackle points")
time.sleep(10)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_tackle_points=[]
soup = BeautifulSoup(driver.page_source)
player_tackle_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_tackle_points = list()
for i in range(0, len(player_tackle_points)):
    x_player_tackle_points.append(player_tackle_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_tackle_points = pd.DataFrame()
all_seasons_player_tackle_points['Player Rank'] = x_player_rank
all_seasons_player_tackle_points['Player Name'] = x_player_name
all_seasons_player_tackle_points['Latest Team'] = x_player_latest_team
all_seasons_player_tackle_points['Matches Played'] = x_player_matches_played
all_seasons_player_tackle_points['Tackle Points'] = x_player_tackle_points

all_seasons_player_tackle_points['Player Rank'] = all_seasons_player_tackle_points['Player Rank'].astype('float64')
all_seasons_player_tackle_points['Player Rank'] = all_seasons_player_tackle_points['Player Rank'].astype('int64')
all_seasons_player_tackle_points['Matches Played'] = all_seasons_player_tackle_points['Matches Played'].astype('int64')
all_seasons_player_tackle_points['Tackle Points'] = all_seasons_player_tackle_points['Tackle Points'].astype('int64')

In [411]:
all_seasons_player_tackle_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Tackle Points
0,1,Manjeet Chhillar,Tamil Thalaivas,107,339
1,2,Ravinder Pahal,Delhi Dabangs,105,307
2,3,Sandeep Narwal,U Mumba,117,293
3,4,Fazel Atrachali,U Mumba,95,288
4,5,Mohit Chhillar,Tamil Thalaivas,107,276

In [412]:
all_seasons_player_tackle_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 5 columns):
Player Rank       328 non-null int64
Player Name       328 non-null object
Latest Team       328 non-null object
Matches Played    328 non-null int64
Tackle Points     328 non-null int64
dtypes: int64(3), object(2)
memory usage: 12.9+ KB

In [413]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_tackle_points, player_tackle_points

In [414]:
all_seasons_player_tackle_points['Player Name'].duplicated().value_counts()

False    312
True      16
Name: Player Name, dtype: int64

In [415]:
all_seasons_player_tackle_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    327
True       1
dtype: int64

###### Drop last duplicate row

In [416]:
all_seasons_player_tackle_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [417]:
all_seasons_player_tackle_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    327
dtype: int64

In [418]:
all_seasons_player_tackle_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 327 entries, 0 to 327
Data columns (total 5 columns):
Player Rank       327 non-null int64
Player Name       327 non-null object
Latest Team       327 non-null object
Matches Played    327 non-null int64
Tackle Points     327 non-null int64
dtypes: int64(3), object(2)
memory usage: 15.3+ KB

###### Generate Average Tackle Points Data for each player and load to dataframe

In [419]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Avg tackle points")
time.sleep(5)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_average_tackle_points=[]
soup = BeautifulSoup(driver.page_source)
player_average_tackle_points = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_average_tackle_points = list()
for i in range(0, len(player_average_tackle_points)):
    x_player_average_tackle_points.append(player_average_tackle_points[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_average_tackle_points = pd.DataFrame()
all_seasons_player_average_tackle_points['Player Rank'] = x_player_rank
all_seasons_player_average_tackle_points['Player Name'] = x_player_name
all_seasons_player_average_tackle_points['Latest Team'] = x_player_latest_team
all_seasons_player_average_tackle_points['Matches Played'] = x_player_matches_played
all_seasons_player_average_tackle_points['Average Tackle Points'] = x_player_average_tackle_points

all_seasons_player_average_tackle_points['Player Rank'] = all_seasons_player_average_tackle_points['Player Rank'].astype('float64')
all_seasons_player_average_tackle_points['Player Rank'] = all_seasons_player_average_tackle_points['Player Rank'].astype('int64')
all_seasons_player_average_tackle_points['Matches Played'] = all_seasons_player_average_tackle_points['Matches Played'].astype('int64')
all_seasons_player_average_tackle_points['Average Tackle Points'] = all_seasons_player_average_tackle_points['Average Tackle Points'].astype('float64')

In [420]:
all_seasons_player_average_tackle_points.head()

,Player Rank,Player Name,Latest Team,Matches Played,Average Tackle Points
0,1,Sandeep Kandola,Telugu Titans,16,3.69
1,2,Vishal Bhardwaj,Telugu Titans,56,3.41
2,3,Sumit,UP Yoddhas,16,3.31
3,4,Sandeep Kumar Dhull,Jaipur Pink Panthers,60,3.18
4,5,Manjeet Chhillar,Tamil Thalaivas,107,3.17

In [421]:
all_seasons_player_average_tackle_points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 5 columns):
Player Rank              302 non-null int64
Player Name              302 non-null object
Latest Team              302 non-null object
Matches Played           302 non-null int64
Average Tackle Points    302 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 11.9+ KB

In [422]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_average_tackle_points, player_average_tackle_points

In [423]:
all_seasons_player_average_tackle_points[['Player Name']].duplicated().value_counts()

False    288
True      14
dtype: int64

In [424]:
all_seasons_player_average_tackle_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    301
True       1
dtype: int64

###### Drop last duplicate row

In [425]:
all_seasons_player_average_tackle_points.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [426]:
all_seasons_player_average_tackle_points[['Player Name', 'Matches Played']].duplicated().value_counts()

False    301
dtype: int64

In [427]:
all_seasons_player_average_tackle_points.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301 entries, 0 to 301
Data columns (total 5 columns):
Player Rank              301 non-null int64
Player Name              301 non-null object
Latest Team              301 non-null object
Matches Played           301 non-null int64
Average Tackle Points    301 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 14.1+ KB

###### Generate Super Tackles Data for each player and load to dataframe

In [428]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("Super tackles")
time.sleep(10)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_super_tackles=[]
soup = BeautifulSoup(driver.page_source)
player_super_tackles = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_super_tackles = list()
for i in range(0, len(player_super_tackles)):
    x_player_super_tackles.append(player_super_tackles[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_super_tackles = pd.DataFrame()
all_seasons_player_super_tackles['Player Rank'] = x_player_rank
all_seasons_player_super_tackles['Player Name'] = x_player_name
all_seasons_player_super_tackles['Latest Team'] = x_player_latest_team
all_seasons_player_super_tackles['Matches Played'] = x_player_matches_played
all_seasons_player_super_tackles['Super Tackles'] = x_player_super_tackles

all_seasons_player_super_tackles['Player Rank'] = all_seasons_player_super_tackles['Player Rank'].astype('float64')
all_seasons_player_super_tackles['Player Rank'] = all_seasons_player_super_tackles['Player Rank'].astype('int64')
all_seasons_player_super_tackles['Matches Played'] = all_seasons_player_super_tackles['Matches Played'].astype('int64')
all_seasons_player_super_tackles['Super Tackles'] = all_seasons_player_super_tackles['Super Tackles'].astype('int64')

In [429]:
all_seasons_player_super_tackles.head()

,Player Rank,Player Name,Latest Team,Matches Played,Super Tackles
0,1,Sandeep Narwal,U Mumba,117,28
1,2,Dharmaraj Cheralathan,Haryana Steelers,114,24
2,3,Mohit Chhillar,Tamil Thalaivas,107,23
3,4,Jeeva Kumar,Bengal Warriors,108,22
4,5,Vishal Bhardwaj,Telugu Titans,56,21

In [430]:
all_seasons_player_super_tackles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 5 columns):
Player Rank       210 non-null int64
Player Name       210 non-null object
Latest Team       210 non-null object
Matches Played    210 non-null int64
Super Tackles     210 non-null int64
dtypes: int64(3), object(2)
memory usage: 8.3+ KB

In [431]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_super_tackles, player_super_tackles

In [432]:
all_seasons_player_super_tackles[['Player Name']].duplicated().value_counts()

False    201
True       9
dtype: int64

In [433]:
all_seasons_player_super_tackles[['Player Name', 'Matches Played']].duplicated().value_counts()

False    209
True       1
dtype: int64

###### Drop last duplicate row

In [434]:
all_seasons_player_super_tackles.drop_duplicates(subset=['Player Name', 'Matches Played'], keep='first', inplace=True)

In [435]:
all_seasons_player_super_tackles[['Player Name', 'Matches Played']].duplicated().value_counts()

False    209
dtype: int64

In [436]:
all_seasons_player_super_tackles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 0 to 208
Data columns (total 5 columns):
Player Rank       209 non-null int64
Player Name       209 non-null object
Latest Team       209 non-null object
Matches Played    209 non-null int64
Super Tackles     209 non-null int64
dtypes: int64(3), object(2)
memory usage: 9.8+ KB

###### Generate High 5s Tackles Data for each player and load to dataframe

In [437]:
category = driver.find_element_by_id("si_dropdown")
category.send_keys("High 5s")
time.sleep(10)

element = driver.find_element_by_id('load_more')
while (driver.find_element_by_id('load_more')):
       try:
              element.click()
       except Exception as e:
           break

time.sleep(5)

player_name=[]
soup = BeautifulSoup(driver.page_source)
player_name = soup.findAll('div',attrs={'class':'sipk-lb-playerName'})
x_player_name = list()
for i in range(0, len(player_name)):
    x_player_name.append(player_name[i].span.string.strip())


player_rank=[]
soup = BeautifulSoup(driver.page_source)
player_rank = soup.findAll('div',attrs={'class':'sipk-lb-rank'})
x_player_rank = list()
for i in range(0, len(player_rank)):
    x_player_rank.append(player_rank[i].span.string.strip())
    
player_matches_played=[]
soup = BeautifulSoup(driver.page_source)
player_matches_played = soup.findAll('div',attrs={'class':'sipk-lb-matchedPlayed'})
x_player_matches_played = list()
for i in range(0, len(player_matches_played)):
    x_player_matches_played.append(player_matches_played[i].span.string.strip())
    
player_high_5s=[]
soup = BeautifulSoup(driver.page_source)
player_high_5s = soup.findAll('div',attrs={'class':'sipk-lb-raidPoints'})
x_player_high_5s = list()
for i in range(0, len(player_high_5s)):
    x_player_high_5s.append(player_high_5s[i].span.string.strip())
    
player_latest_team=[]
soup = BeautifulSoup(driver.page_source)
player_latest_team = soup.findAll('a',attrs={'class':'sipk-lb-detailBlock sipk-lb-team'})
x_player_latest_team = list()
for i in range(0, len(player_latest_team)):
    x_player_latest_team.append(player_latest_team[i].attrs['href'])
for i in range(0, len(x_player_latest_team)):
    if (x_player_latest_team[i].find('patna') != -1):
        x_player_latest_team[i] = 'Patna Pirates'
    elif (x_player_latest_team[i].find('tamil') != -1):
        x_player_latest_team[i] = 'Tamil Thalaivas'
    elif (x_player_latest_team[i].find('bengaluru') != -1):
        x_player_latest_team[i] = 'Bengaluru Bulls'
    elif (x_player_latest_team[i].find('jaipur') != -1):
        x_player_latest_team[i] = 'Jaipur Pink Panthers'
    elif (x_player_latest_team[i].find('bengal') != -1):
        x_player_latest_team[i] = 'Bengal Warriors'
    elif (x_player_latest_team[i].find('up-yoddha') != -1):
        x_player_latest_team[i] = 'UP Yoddhas'
    elif (x_player_latest_team[i].find('u-mumba') != -1):
        x_player_latest_team[i] = 'U Mumba'
    elif (x_player_latest_team[i].find('gujarat') != -1):
        x_player_latest_team[i] = 'Gujarat Fortune Giants'
    elif (x_player_latest_team[i].find('puneri') != -1):
        x_player_latest_team[i] = 'Puneri Paltan'
    elif (x_player_latest_team[i].find('dabang') != -1):
        x_player_latest_team[i] = 'Delhi Dabangs'
    elif (x_player_latest_team[i].find('haryana') != -1):
        x_player_latest_team[i] = 'Haryana Steelers'
    elif (x_player_latest_team[i].find('telugu') != -1):
        x_player_latest_team[i] = 'Telugu Titans'

all_seasons_player_high_5s = pd.DataFrame()
all_seasons_player_high_5s['Player Rank'] = x_player_rank
all_seasons_player_high_5s['Player Name'] = x_player_name
all_seasons_player_high_5s['Latest Team'] = x_player_latest_team
all_seasons_player_high_5s['Matches Played'] = x_player_matches_played
all_seasons_player_high_5s['High 5s'] = x_player_high_5s

all_seasons_player_high_5s['Player Rank'] = all_seasons_player_high_5s['Player Rank'].astype('float64')
all_seasons_player_high_5s['Player Rank'] = all_seasons_player_high_5s['Player Rank'].astype('int64')
all_seasons_player_high_5s['Matches Played'] = all_seasons_player_high_5s['Matches Played'].astype('int64')
all_seasons_player_high_5s['High 5s'] = all_seasons_player_high_5s['High 5s'].astype('int64')

In [438]:
all_seasons_player_high_5s.head()

   Player Rank       Player Name       Latest Team  Matches Played  High 5s
0            1  PO Surjeet Singh     Puneri Paltan              90       24
1            2  Manjeet Chhillar   Tamil Thalaivas             107       23
2            3    Ravinder Pahal     Delhi Dabangs             105       22
3            4     Surender Nada  Haryana Steelers              71       19
4            4   Fazel Atrachali           U Mumba              95       19

In [439]:
all_seasons_player_high_5s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
Player Rank       99 non-null int64
Player Name       99 non-null object
Latest Team       99 non-null object
Matches Played    99 non-null int64
High 5s           99 non-null int64
dtypes: int64(3), object(2)
memory usage: 3.9+ KB

In [440]:
del x_player_rank, player_rank, x_player_name, player_name, x_player_latest_team, player_latest_team, x_player_matches_played, player_matches_played, x_player_high_5s, player_high_5s

In [441]:
all_seasons_player_high_5s[['Player Name']].duplicated().value_counts()

False    95
True      4
dtype: int64

In [443]:
all_seasons_player_high_5s[['Player Name', 'Matches Played']].duplicated().value_counts()

False    99
dtype: int64

###### Start merging dataframes on the basis of player name and matches played (unique combination) to avoid duplication

In [444]:
master_frame=pd.merge(all_seasons_player_total_points, all_seasons_player_successful_raids, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank_y', 'Latest Team_y'], inplace = True)

In [445]:
master_frame.head()

,Player Rank_x,Player Name,Latest Team_x,Matches Played,Total Points,Successful Raids
0,1,Pardeep Narwal,Patna Pirates,101,1055,798.0
1,2,Rahul Chaudhari,Tamil Thalaivas,117,991,766.0
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,905,670.0
3,4,Ajay Thakur,Tamil Thalaivas,115,811,640.0
4,5,Rohit Kumar,Bengaluru Bulls,88,689,535.0

In [446]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 6 columns):
Player Rank_x       388 non-null int64
Player Name         388 non-null object
Latest Team_x       388 non-null object
Matches Played      388 non-null int64
Total Points        388 non-null int64
Successful Raids    269 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 21.2+ KB

In [447]:
master_frame=pd.merge(master_frame, all_seasons_player_raid_points, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

master_frame=pd.merge(master_frame, all_seasons_player_average_raid_points, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

master_frame=pd.merge(master_frame, all_seasons_player_do_or_die_raid_points, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)	

master_frame=pd.merge(master_frame, all_seasons_player_super_raids, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)	

master_frame=pd.merge(master_frame, all_seasons_player_super_10s, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)	

master_frame=pd.merge(master_frame, all_seasons_player_successful_tackles, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)	

master_frame=pd.merge(master_frame, all_seasons_player_tackle_points, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

master_frame=pd.merge(master_frame, all_seasons_player_average_tackle_points, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

master_frame=pd.merge(master_frame, all_seasons_player_super_tackles, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

master_frame=pd.merge(master_frame, all_seasons_player_high_5s, how="left", left_on=['Player Name', 'Matches Played'], right_on=['Player Name', 'Matches Played'])
master_frame.drop(columns = ['Player Rank', 'Latest Team'], inplace = True)

In [448]:
master_frame.head()

,Player Rank_x,Player Name,Latest Team_x,Matches Played,Total Points,Successful Raids,Raid Points,Average Raid Points,Do or Die Raid Points,Super Raids,Super 10s,Successful Tackles,Tackle Points,Average Tackle Points,Super Tackles,High 5s
0,1,Pardeep Narwal,Patna Pirates,101,1055,798.0,1048.0,10.48,133.0,46.0,54.0,6.0,7.0,0.07,1.0,NaN
1,2,Rahul Chaudhari,Tamil Thalaivas,117,991,766.0,933.0,7.97,161.0,24.0,40.0,53.0,58.0,0.50,5.0,NaN
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,905,670.0,820.0,6.89,161.0,20.0,29.0,77.0,85.0,0.71,8.0,4.0
3,4,Ajay Thakur,Tamil Thalaivas,115,811,640.0,790.0,6.87,163.0,23.0,29.0,21.0,21.0,0.18,NaN,NaN
4,5,Rohit Kumar,Bengaluru Bulls,88,689,535.0,650.0,7.47,106.0,14.0,25.0,37.0,39.0,0.44,2.0,1.0

In [449]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 16 columns):
Player Rank_x            388 non-null int64
Player Name              388 non-null object
Latest Team_x            388 non-null object
Matches Played           388 non-null int64
Total Points             388 non-null int64
Successful Raids         269 non-null float64
Raid Points              284 non-null float64
Average Raid Points      252 non-null float64
Do or Die Raid Points    199 non-null float64
Super Raids              112 non-null float64
Super 10s                69 non-null float64
Successful Tackles       327 non-null float64
Tackle Points            327 non-null float64
Average Tackle Points    297 non-null float64
Super Tackles            209 non-null float64
High 5s                  99 non-null float64
dtypes: float64(11), int64(3), object(2)
memory usage: 51.5+ KB

###### Replace Null values with 0 for the columns: Successful Raids, Raid Points, Average Raid Points, Do or Die Raid Points, Super Raids, Super 10s

In [450]:
master_frame.fillna(value=0, inplace=True)

In [451]:
master_frame.head()

,Player Rank_x,Player Name,Latest Team_x,Matches Played,Total Points,Successful Raids,Raid Points,Average Raid Points,Do or Die Raid Points,Super Raids,Super 10s,Successful Tackles,Tackle Points,Average Tackle Points,Super Tackles,High 5s
0,1,Pardeep Narwal,Patna Pirates,101,1055,798.0,1048.0,10.48,133.0,46.0,54.0,6.0,7.0,0.07,1.0,0.0
1,2,Rahul Chaudhari,Tamil Thalaivas,117,991,766.0,933.0,7.97,161.0,24.0,40.0,53.0,58.0,0.50,5.0,0.0
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,905,670.0,820.0,6.89,161.0,20.0,29.0,77.0,85.0,0.71,8.0,4.0
3,4,Ajay Thakur,Tamil Thalaivas,115,811,640.0,790.0,6.87,163.0,23.0,29.0,21.0,21.0,0.18,0.0,0.0
4,5,Rohit Kumar,Bengaluru Bulls,88,689,535.0,650.0,7.47,106.0,14.0,25.0,37.0,39.0,0.44,2.0,1.0

In [452]:
master_frame['Successful Raids'] = master_frame['Successful Raids'].astype('int64')
master_frame['Raid Points'] = master_frame['Raid Points'].astype('int64')
master_frame['Do or Die Raid Points'] = master_frame['Do or Die Raid Points'].astype('int64')
master_frame['Super Raids'] = master_frame['Super Raids'].astype('int64')
master_frame['Super 10s'] = master_frame['Super 10s'].astype('int64')
master_frame['Successful Tackles'] = master_frame['Super 10s'].astype('int64')
master_frame['Tackle Points'] = master_frame['Tackle Points'].astype('int64')
master_frame['Super Tackles'] = master_frame['Super Tackles'].astype('int64')
master_frame['High 5s'] = master_frame['High 5s'].astype('int64')

In [453]:
 master_frame.rename(columns={"Player Rank_x": "Player Rank", "Latest Team_x": "Latest Team"}, inplace = True)

In [454]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 387
Data columns (total 16 columns):
Player Rank              388 non-null int64
Player Name              388 non-null object
Latest Team              388 non-null object
Matches Played           388 non-null int64
Total Points             388 non-null int64
Successful Raids         388 non-null int64
Raid Points              388 non-null int64
Average Raid Points      388 non-null float64
Do or Die Raid Points    388 non-null int64
Super Raids              388 non-null int64
Super 10s                388 non-null int64
Successful Tackles       388 non-null int64
Tackle Points            388 non-null int64
Average Tackle Points    388 non-null float64
Super Tackles            388 non-null int64
High 5s                  388 non-null int64
dtypes: float64(2), int64(12), object(2)
memory usage: 51.5+ KB

In [455]:
master_frame.head()

,Player Rank,Player Name,Latest Team,Matches Played,Total Points,Successful Raids,Raid Points,Average Raid Points,Do or Die Raid Points,Super Raids,Super 10s,Successful Tackles,Tackle Points,Average Tackle Points,Super Tackles,High 5s
0,1,Pardeep Narwal,Patna Pirates,101,1055,798,1048,10.48,133,46,54,54,7,0.07,1,0
1,2,Rahul Chaudhari,Tamil Thalaivas,117,991,766,933,7.97,161,24,40,40,58,0.50,5,0
2,3,Deepak Niwas Hooda,Jaipur Pink Panthers,119,905,670,820,6.89,161,20,29,29,85,0.71,8,4
3,4,Ajay Thakur,Tamil Thalaivas,115,811,640,790,6.87,163,23,29,29,21,0.18,0,0
4,5,Rohit Kumar,Bengaluru Bulls,88,689,535,650,7.47,106,14,25,25,39,0.44,2,1

###### Delete other non required data frames

In [456]:
del all_seasons_player_total_points
del all_seasons_player_successful_raids
del all_seasons_player_raid_points
del all_seasons_player_average_raid_points
del all_seasons_player_do_or_die_raid_points
del all_seasons_player_super_raids
del all_seasons_player_super_10s
del all_seasons_player_successful_tackles
del all_seasons_player_tackle_points
del all_seasons_player_average_tackle_points
del all_seasons_player_super_tackles
del all_seasons_player_high_5s

###### Quit the web browser

In [457]:
driver.quit()

In [458]:
master_frame.to_csv('player_data.csv', sep=',')